footer.footer
    div.footer_logo
        img(src='img/logo-green.png' alt='Natours Logo')
    ul.footer_nav
        li: a(href='#') About Us
        li: a(href='#') Download App
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') Contact Us
    p.footer_copyright &copy; by Trevin Rambukpotha. Thank you to Jonas Schmedtmann for the excellent tutorial.