header.header
    nav.nav.nav-tours
        a.nav_el(href='/') All Tours
    div.header_logo
        img(src='/img/logo-white.png')
    nav.nav.nav-user
        //a.nav_el(href='#') My Bookings
        //a.nav_el(href='#')
        //    img.nav_user-img(src='img/user.jpg' alt='User Photo')
        //    span Trevin
        button.nav_el Log in
        button.nav_el.nav_el-cta Sign Up