header.header
    nav.nav.nav-tours
        a.nav_el(href='/') All Tours
    div.header_logo
        img(src='/img/logo-white.png')
    nav.nav.nav-user
        if user
            a.nav_el.nav_el-logout Log Out
            a.nav_el(href='#')
                img.nav_user-img(src=`/img/users/${user.userProfilePic}` alt=`Photo of ${user.userName}`)
                span= user.userName.split(' ')[0]
        else
            a(href='/login').nav_el Log in
            a.nav_el.nav_el-cta Sign Up