extends base

block content
    main.main
        div.error
            div.error_title
                h2.heading-secondary.heading-secondary-error Oh no! Something went wrong!
                h2.error_emoji 😓
            div.error_msg= msg