.btn,
.btn:link,
.btn:visited {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 1.4rem 3rem;
    border-radius: 10rem;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    backface-visibility: hidden;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(18, 237, 215, 0.25);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(18, 237, 215, 0.25);
}

.btn:focus {
    outline: none;
    background-color: var(--background-100);
}

.btn-green {
    background-color: var(--primary);
    color: var(--text-50);
}

.btn-green::after {
    background-color: var(--primary);
}

.btn-small {
    padding: 1.25rem 3rem;
    font-size: 1.4rem;
}

.btn-small,
.btn-small:link,
.btn-small:visited {
    background-color: var(--primary);
    color: var(--text-50);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 1.25rem 3rem;
    border-radius: 10rem;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
}

.btn-small:hover {
    background-color: var(--primary-600);
}

.btn-text:link,
.btn-text:visited {
    color: var(--primary);
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid var(--primary);
    padding: 3px;
    transition: all 0.3s ease-in-out;
}

.btn-text:hover {
    background-color: var(--primary);
    color: var(--text-950);
    box-shadow: 0 1rem 2rem var(--text-50);
    transform: translateY(-2px);
}

.btn-text:active {
    transform: translateY(0);
    box-shadow: 0 1rem 2rem var(--text-50);
}

.btn-text:focus {
    outline: 3px solid var(--primary);
    outline-offset: 3px;
}