:root{
    --section-rotate: 9vw;
}

::selection {
    background-color: var(--primary-500);
    color: var(--text-50);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: var(--background);
}

body {
    line-height: 1.6;
    font-weight: 300;
    font-family: 'Inter', 'Poppins', sans-serif;
    color: var(--text-950);
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    /*background-color: red;*/
    padding: 8rem 6rem;
    flex: 1;
    position: relative;
}