:root{
    --section-rotate: 9vw;
}

::selection {
    background-color: var(--primary-500);
    color: var(--text-50);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: var(--background);
}

body {
    line-height: 1.6;
    font-weight: 300;
    font-family: 'Inter', 'Poppins', sans-serif;
    color: var(--text-950);
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    /*background-color: red;*/
    padding: 8rem 6rem;
    flex: 1;
    position: relative;
}

.flex {
    display: flex;
}

.span-all-rows {
    grid-row: 1 / -1;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

/*Margin Bottom Medium*/
.ma-bt-md {
    margin-bottom: 3rem;
}

/*Margin Bottom Large*/
.ma-bt-lg {
    margin-bottom: 3.5rem;
}

.right {
    text-align: right;
}

.centered {
    text-align: center;
}

.line {
    margin: 6rem 0;
    width: 100%;
    height: 1px;
    background-color: var(--text-950);
}

.alert {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 15rem;
}

.alert-success {
    background-color: var(--primary);
}

.alert-error {
    background-color: var(--error-red);
}
