/*-------------------- Error Styles --------------------*/
.error {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80rem;
    text-align: center;
}

.error_title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.error_emoji {
    font-size: 3.75rem;
    margin-left: 1rem;
}

.error_msg {
    font-size: 2.5rem;
    font-weight: 700;
    max-width: 50rem;
    margin: 0 auto;
}

/*-------------------- Header Styles --------------------*/
.header {
    background-color: var(--background-5);
    padding: 0 5rem;
    height: 8rem;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo img {
    height: 4rem
}

.header_hero {
    height: 100%
}

.header_hero-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 50% 25%;
}

.header_hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /*TODO Mess around with this to find a nicer look*/
    /*background-image: linear-gradient(to bottom right, var(--primary-500), var(--secondary-500));*/
    /*opacity: 0.7;*/
}

.header_hero-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, var(--primary-500), var(--secondary-500));
    opacity: 0.8;
}
/*-------------------- Heading Styles --------------------*/
.heading-primary {
    font-family: Poppins, sans-serif;
    font-size: 5rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.heading-secondary {
    font-family: Poppins, sans-serif;
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--primary-500), var(--secondary-500));
    background-clip: text;
    color: transparent;
    letter-spacing: 0.1rem;
    line-height: 1.3;
    display: inline-block;
}

.heading-secondary-error {
    font-family: Poppins, sans-serif;
    font-size: 3.5rem;
    background-image: linear-gradient(to right, var(--error-variant), var(--error-red));
}

.heading-tertiary {
    font-family: Poppins, sans-serif;
    font-size: 2.75rem;
    text-align: right;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    width: 70%;
    z-index: 10;
}

.heading-primary,
.heading-tertiary {
    color: var(--text-950);
    text-transform: uppercase;
    font-weight: 300;
}

.heading-primary span,
.heading-tertiary span {
    padding: 1rem 1.5rem;
    line-height: 1;
    box-decoration-break: clone;
    background-image: linear-gradient(to right, var(--primary-500), var(--secondary-500));
}

.heading-box {
    position: absolute;
    padding: 2rem;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(1rem);
}

.heading-box_group {
    color: var(--text-900);
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-box_detail {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.5));
}

.heading-box_detail svg {
    margin-right: 0.8rem;
}
.heading-box_detail:not(:last-child) {
    margin-right: 4rem;
}
.heading-box_icon {
    height: 2rem;
    width: 2rem;
    fill: currentColor;
    filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.5));
}

/*-------------------- Section Styles --------------------*/
.section-header {
    position: relative;
    height: 38vw;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--section-rotate)), 0 100%);
}

.section-description {
    background-color: var(--background-50);
    margin-top: calc(0px - var(--section-rotate));
    display: flex;
}

.section-description > * {
    padding: 14vw 8vw calc(1vw + var(--section-rotate));
    flex: 0 0 50%;
}

.section-map {
    position: relative;
    height: 100rem;
    margin-top: calc(0px - var(--section-rotate));
}

.section-cta {
    margin-top: calc(0px - var(--section-rotate));
    padding: calc(15rem + var(--section-rotate)) 3rem 11rem;
    background-color: var(--background-5);
}

/*-------------------- Tour Styles --------------------*/
.description,
.description-box {
    background-color: var(--background-5);
    margin-right: 5rem;
}
.description-box,
.description_text {
    font-size: 1.7rem;
}
.description-box,
.description_text:not(:last-child) {
    margin-bottom: 2rem;
}

.overview-box {
    background-color: var(--background-5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.overview-box_group:not(:last-child) {
    margin-bottom: 7rem;
}
.overview-box_detail {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    font-weight: 400;
}
.overview-box_detail svg {
    margin-right: 1.25rem;
}
.overview-box_detail:not(:last-child) {
    margin-bottom: 2.25rem;
}
.overview-box_icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--primary);
}
.overview-box_label {
    font-size: 1.4rem;
    font-weight: 700;
    margin-right: 2.25rem;
    text-transform: uppercase;
}
.overview-box_text {
    text-transform: capitalize;
}
.overview-box_img {
    border-radius: 50%;
    height: 3.5rem;
    margin-right: 1.25rem;
}

.section-pictures {
    display: flex;
    clip-path: polygon(
            0 var(--section-rotate),
            100% 0,
            100% calc(100% - var(--section-rotate)),
            0 100%
    );
    margin-top: calc(0px - var(--section-rotate));
    position: relative;
    z-index: 1000;
}

.picture-box_img {
    display: block;
    width: 100%;
    height: 110%;
    object-fit: cover;
}
.picture-box_img-1 {
    padding-top: 15%;
}
.picture-box_img-2 {
    padding-bottom: 15%;
}
.picture-box_img-3 {
    padding-bottom: 27%;
}

.section-reviews {
    margin-top: calc(0px - var(--section-rotate));
    padding: calc(5rem + var(--section-rotate)) 0;
    position: relative;
    z-index: 1000;
    background: linear-gradient(to right, var(--primary-500), var(--secondary-500));
    clip-path: polygon(
            0 var(--section-rotate),
            100% 0,
            100% calc(100% - var(--section-rotate)),
            0 100%
    );
}

/*TODO Code to hide the scrollbar in the reviews section needs more testing, it's very buggy right now*/
/*.scrollable-content {*/
/*    box-shadow: hsl(0 0% 0% / 0.25) 0 0.25em 0.5em;*/
/*    background: hsl(0 0% 100%);*/
/*    padding: 2em;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    max-width: 450px;*/
/*    max-height: 350px;*/
/*    overflow: hidden;*/
/*    scrollbar-gutter: stable both-edges;*/
/*}*/

/*.scrollable-content:hover,*/
/*.scrollable-content:active,*/
/*.scrollable-content:focus {*/
/*    overflow-y: scroll;*/
/*}*/

/*.scrollable-content::-webkit-scrollbar {*/
/*    width: 0.5em;*/
/*}*/

/*.scrollable-content::-webkit-scrollbar-track {*/
/*    background-color: hsl(250 15% 93%);*/
/*}*/

/*.scrollable-content::-webkit-scrollbar-thumb {*/
/*    background-color: hsl(250 15% 60%);*/
/*}*/

/*.scrollable-content::-webkit-scrollbar-thumb:hover {*/
/*    background-color: hsl(250 15% 27%);*/
/*}*/

/*.mockup-font p:first-child {*/
/*    font-size: 1.5em;*/
/*    font-weight: 700;*/
/*}*/

/*.mockup-font p:not(:first-child) {*/
/*    font-family: 'Flow Block', sans-serif;*/
/*}*/

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker {
    background-image: url('../img/pin.png');
    background-size: cover;
    width: 32px;
    height: 40px;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 25rem;
}

.mapboxgl-popup-content {
    text-align: center;
    padding: 1.5rem !important;
    font-size: 1.4rem;
    color: var(--text-100);
    box-shadow: 0 1rem 3rem rgba(18, 237, 215, 0.2) !important;
}

.reviews {
    padding: 5rem 0;
    display: grid;
    grid-column-gap: 6rem;
    grid-auto-flow: column;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-color: auto;
}

.reviews::-webkit-scrollbar {
    display: none;
}

.reviews:before,
.reviews:after {
    content: '';
    width: 2rem;
}

.reviews_card {
    width: 30rem;
    padding: 4rem;
    background-color: var(--background-5);
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews_avatar {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.reviews_avatar-img {
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}
.reviews_user {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
.reviews_text {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-style: italic;
    font-weight: 400;
}
.reviews_rating {
    margin-top: auto;
    display: flex;
}
.reviews_star {
    height: 2rem;
    width: 2rem;
    margin-right: 0.1rem;
}
.reviews_star-active {
    fill: var(--primary);
}
.reviews_star-inactive {
    fill: var(--grey-2);
}

/*-------------------- Call to Action Styles --------------------*/
.cta {
    position: relative;
    max-width: 105rem;
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--accent-100);
    padding: 9rem 5rem 9rem 21rem;
    border-radius: 2rem;
    box-shadow: 0 3rem 8rem 0.5rem rgba(18, 237, 215, 0.5);
}
.cta_img {
    height: 15rem;
    width: 15rem;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 50%;
    box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
}
.cta_img-logo {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right bottom, var(--primary-500), var(--secondary-500));
    z-index: 10;
    transform: translate(-35%, -50%);
}
.cta_img-logo img {
    width: 100%;
}
.cta_img-1 {
    transform: translate(-10%, -50%) scale(0.97);
    z-index: 9;
}
.cta_img-2 {
    transform: translate(15%, -50%) scale(0.94);
    z-index: 8;
}
.cta_content {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto;
    grid-gap: 0.7rem;
    grid-auto-flow: column;
    align-items: center;
}
.cta_text {
    font-size: 1.9rem;
    font-weight: 400;
}
/*-------------------- Nav Styles --------------------*/
.nav {
    display: flex;
    align-items: center;
}

.nav-tours {
    flex: 0 1 10%;
}

.nav-users {
    flex: 0 1 40%;
    justify-content: flex-end;
}

.nav_user-img {
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.nav_el,
.nav_el:link,
.nav_el:visited {
    color: var(--text-950);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
}

.nav_el:hover,
.nav_el:active {
    text-shadow: 0 0.7rem 1rem var(--accent);
}

.nav_el:not(:last-child) {
    margin-right: 3rem;
}

.nav_el:focus {
    outline: none;
}

.nav_el-cta {
    border: 1px solid currentColor;
    border-radius: 10rem;
    padding: 1rem 3rem;
    transition: all 0.2s ease-in-out;
}

.nav_el-cta:hover {
    background: var(--primary);
    color: var(--text-50);
    text-shadow: none;
    border-color: var(--accent-200);
}

/*-------------------- Card Styles --------------------*/
.card-container {
    max-width: 140rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7rem;
}

.card {
    border-radius: 3px;
    overflow: hidden;
    background-color: var(--secondary-100);
    box-shadow: 0 1rem 4rem rgba(18, 237, 215, 0.5);
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.card_header {
    position: relative;
}

.card_picture {
    position: relative;
    height: 22rem;
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0 98%);
}

.card_picture-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, var(--primary), var(--secondary));
    opacity: 0.2;
}

.card_picture-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card_details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.75rem;
    column-gap: 2rem;
    padding: 2.5rem 3rem;
}

.card_sub-heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    grid-column: 1 / -1;
}

.card_text {
    font-size: 1.5rem;
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    grid-column: 1 / -1;
}

.card_data {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

.card_data svg {
    margin-right: 0.7rem;
}

.card_icon {
    height: 2rem;
    width: 2rem;
    fill: var(--primary);
}

.card_footer {
    background-color: var(--secondary-100);
    border-top: 1px solid var(--secondary-200);
    padding: 2.5rem 3rem;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: auto;
}

.card_footer-value {
    font-weight: 700;
}

.card_footer-text {
    margin: 0 0.4rem;
    color: var(--grey-3);
}

.card_ratings {
    grid-row: 2 / 3;
}

.card .btn,
.card .btn-small {
    grid-row: 1 / 3;
    justify-self: end;
    align-self: center;
}

/*-------------------- Form Styles --------------------*/
.login-form {
    margin: 0 auto;
    max-width: 80rem;
    padding: 5rem 7rem;
    border-radius: 2rem;
    background-color: var(--secondary-100);
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
}

.form_input {
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    color: var(--text-50);
    padding: 1.25rem 1.75rem;
    border: none;
    width: 100%;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease-in-out;
    border-radius: 2rem;
    box-sizing: border-box;
}

.form_input:focus {
    outline: none;
    border-bottom: 0.7rem solid var(--primary);
}

.form_input:focus:invalid {
    border-bottom: 0.7rem solid var(--error-red);
}

.form_input::-webkit-input-placeholder {
    color: var(--grey-3);
}

.form_group:not(:last-child) {
    margin-bottom: 2rem;
}

.form_label {
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
}

/*-------------------- Footer Styles --------------------*/
.footer {
    background-color: var(--background-5);
    padding: 6rem 4rem 3rem 4rem;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 0.75rem;
    justify-content: space-between;
}

.footer_logo {
    grid-row: 1 / 3;
    align-self: center;
}
.footer_logo img {
    height: 3rem;
}
.footer_nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.footer_nav li {
    margin-left: 1.5rem;
}
.footer_nav a {
    text-decoration: none;
    color: var(--text-900);
    transition: all 0.2s ease-in-out;
}
.footer_nav a:hover,
.footer_nav a:active {
    color: var(--text-700);
}
.footer_copyright{
    color: var(--grey-2);
}
